header {
    display: flex;
    align-items: center;
    background-color: black;
    height: 70px;
}

a {
    margin: 0 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    padding: 0 15px;
    border-width: 2px;
    font-size: 18px;
    background-color: black;
    color: white;
    height: 93%;
    align-content: center;
    text-decoration: none;

}

a:hover{
    background-color: rgb(107, 107, 107);
}

h2 {
    margin-right: auto;
    margin-left: 4px;
    color: white;
}

body {
    background-color: aqua;
    margin: 0;
    font-family: Arial;
}

.nav {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    padding-bottom: 7px;
    background-color: black;
}

.nav-input {
    height: 87%;
    padding-left: 6px;
    flex: 1;
    margin-right: -2px;
}

main {
    padding: 3px 3px;
}

.post-block{
    border-style: solid;
    margin-bottom: 5px;
    padding-left: 7px;
    background-color: rgb(89, 193, 197);
}

.Link {
    border: none;
    background-color: rgb(89, 193, 197);
    color: black;
    font-size: 15px;
}

.Link:hover {
    background-color: rgb(89, 193, 197);
    color: white;
}

.post-title{
    font-size: 20px;
    margin-top: 0px;
    font-weight: 700;
}

.postForm {
    display: grid;
}

.postBody{
    width: 99%;
    margin-bottom: 10px;
    height: 70px;
}

.postTitle{
    height: 40px;
    margin-bottom: 5px;
}